<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="../script/button.js"></script>
    <title>Отзывы бурячка</title>
</head>

<body>
    <header>
        <section class="page_header">
            <div class="header_logos">
                <div class="logo_img1"><img src="../images/logo1.png" alt="logo1" class="logo_img1"></div>
                <div class="logo_img2"><img src="../images/logo2.png" alt="logo2" class="logo_img2"></div>
            </div>
            <div class="header_nav_div">
                <nav class="header_nav">
                    <nav class="nav_li"><a href="../templates/index.html" class="nav_a">Home</a></nav>
                    <nav class="nav_li"><a href="../templates/index.html#about_us" class="nav_a">About us</a></nav>
                    <nav class="nav_li"><a href="../templates/index.html#contacts" class="nav_a">Contacts</a></nav>
                    <nav class="nav_li"><a href="../templates/review.html" class="nav_a">Reveiw</a></nav>
                    <nav class="nav_li"><a href="../templates/blog.html" class="nav_a">Blog</a></nav>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <section class="blog_main">
            
        </section>
    </main>

</body>
</html>