.blog_news {
    width: 1200px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 50px;

    margin: 0 auto;
    margin-top: 100px;
}



/* ASIDE NEWS */ 

.news {
    width: 300px;
    display: grid;

    margin-top: 50px;
    margin-bottom: 30px;   
}

.news_title {
    margin-top: 10px;

    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}

.news_card {
    width: 300px;
    border-top: 2px solid black;

    padding-bottom: 30px;
}

.news_card_title {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}

.news_card p {
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}

.news_card img {
    width: 300px;
    height: auto;

    margin-bottom: 20px;

    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* BLOG */ 

.blog {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-left: 50px;

    border-left: 2px solid black;
}

.blog_title {
    margin-bottom: 60px;
    margin-top: 0;

    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}

.blog_card {
    display: grid;
    grid-template-columns: 75px 300px 1fr;
    grid-template-areas: "photo name empty"
                         "blogs_name blogs_name empty"
                         "blogs_text blogs_text blogs_text";
    column-gap: 30px;
    
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px 0;

    border-top:  2px solid black;
}

.blog_card img {
    width: 75px;
    height: auto;
    grid-area: photo;
}

.blog_card h2 {
    grid-area: name;
    margin: auto 0;

    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}

.blog_card h3 {
    grid-area: blogs_name;
    margin-bottom: 0;

    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}

.blog_card p {
    grid-area: blogs_text;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}