.review {
    width: 1200px;
    margin: 0 auto;
}

.review h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;

    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}

.form_1 {
    display: grid;
    grid-template-columns: 200px 400px;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;

    margin-bottom: 50px;

    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

    border-right: 2px solid black;
    border-left: 2px solid black;
}

.radio {
    display: flex;
    flex-direction: column;
}

.radio label {
    margin-bottom: 10px;
}

.sub_button {
    margin-top: 20px;
}